<div class="operator-page-container">
	<div class="title"> {{ operator$ | async }} </div>
	<mat-divider></mat-divider>
	<mat-tab-group headerPosition="below" mat-align-tabs="center">
		<mat-tab label="PlayGround">
			<app-operator-playground></app-operator-playground>
		</mat-tab>
		<mat-tab label="Documentation">
			<app-operator-documentation [operator]="operator$ | async"></app-operator-documentation>
		</mat-tab>
		<mat-tab label="Comparison">
			<app-operator-comparison></app-operator-comparison>
		</mat-tab>
	</mat-tab-group>
</div>