<div class="operator-page-container" *ngIf="page$ | async as page">
	<div class="title"> {{ page.name }} </div>
	<mat-divider></mat-divider>
	<mat-tab-group headerPosition="below" mat-align-tabs="center">
		<mat-tab label="PlayGround">
			<app-operator-playground [page]="page"></app-operator-playground>
		</mat-tab>
		<mat-tab label="Documentation">
			<app-operator-documentation [page]="page"></app-operator-documentation>
		</mat-tab>
		<mat-tab label="Comparison">
			<app-operator-comparison [page]="page"></app-operator-comparison>
		</mat-tab>
	</mat-tab-group>
</div>