<div class="play-ground-container">
	<div class="control">
		<mat-form-field>
			<input matInput placeholder="value" type="number" autocomplete="off" #value required>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="time" type="number" autocomplete="off" #time required min="0">
		</mat-form-field>
		<mat-form-field>
			<mat-select #index [required]='true'>
				<mat-option *ngFor="let _ of inputs; let index = index;" [value]="index"> {{ index }} </mat-option>
			</mat-select>
		</mat-form-field>
		<button mat-raised-button (click)="addMarbleTo(index.value, time.valueAsNumber, value.valueAsNumber)"
			type="submit">Add</button>
	</div>
	<div class="new-input">
		<mat-form-field>
			<input matInput type="number" min="0" placeholder="error" autocomplete="off" #error required>
		</mat-form-field>
		<mat-form-field>
			<input matInput type="number" min="0" placeholder="complete" autocomplete="off" #complete required
				value="10">
		</mat-form-field>
		<button mat-raised-button (click)="addInput(complete.valueAsNumber, error.valueAsNumber)"
			*ngIf="inputs.length === 0 || multipleInputs">Add Input</button>
	</div>
	<div class="display">
		<div *ngFor="let input of inputs; let index = index;">
			{{ index }} : {{ input | displayMarbles }}
		</div>
	</div>
	<div class="result">
		<div>
			* : {{ result$ | async | displayMarbles }}
		</div>
		<div>
			<button mat-raised-button (click)="play()">Play</button>
		</div>
	</div>
</div>